---
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
    return [
        {params: {tool: 'webchat'}},
        {params: {tool: 'automate'}},
        {params: {tool: 'spot'}},
    ];
}

const tool = Astro.props.tool!
---


<Layout title={'test'}>
    <div
      class="relative flex flex-wrap gap-12 p-6 bg-white border rounded-lg shadow md:p-8"
      transition:name={`tool ${tool.id} box`}
    >
        <div class="flex flex-col gap-6 flex-1">


                <div transition:name={`tool ${tool.id} title`}>{tool.name}</div>




            <div class="prose prose-zinc prose-lg text-gray-600 !leading-relaxed md:max-w-sm">
                <p transition:name={`tool ${tool.id} description`}>{tool.description}</p>
            </div>


        </div>

    </div>
</Layout>
