---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import "@fontsource/poppins/";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import { config } from "../config";

interface Props {
  title: string;
}

const { title } = Astro.props;
const pageTitle = `${config.title} - ${title}`;
const pageURL = new URL(Astro.url.pathname, "https://maciejkucharski.pl");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>

    <meta property="og:url" content={pageURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={config.description} />
    <meta
      property="og:image"
      content={"https://maciejkucharski.pl/og-image-2.png"}
    />

    <meta
      name="description"
      content="I am a passionate Web Developer. I am eager to learn and explore new solutions in the IT world and I am always willing to share my knowledge and to have a conversation about programming and new technologies."
    />

    <ViewTransitions fallback="none" />
  </head>
  <body class="px-10 max-w-screen-xl mx-auto bg-zinc-50 mb-40">
    <Nav />
    <div>
      <slot />
    </div>
    <style is:global>
      body {
        font-family: poppins, "sans-serif";
      }
      :root {
        --headline-font-features: "case", "ss01", "ss03", "cv01", "cv06", "cv10";
        --body-font-features: "case", "ss01", "ss03";
      }

      body {
        font-feature-settings: var(--body-font-features);
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-feature-settings: var(--heading-font-features);
      }
    </style>
  </body>
</html>
